@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    font-size: 16px;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas:
        'header header header'
        'sidebar content content'
        'footer footer footer';
    grid-template-columns: 20vw 40vw 40vw;
    grid-template-rows: 110px calc(100vh - 220px) 110px;
}

.pageHeader {
    grid-area: header;
    position: relative;
    padding: 25px;
    background-color: #a67b5b;
    display: flex;
    justify-content: right;
    align-items: end;
    text-align: center;
    gap: 8px;
    font-size: 16px;
}

.button {
    height: 20px;
    width: 72px;
    border: none;
    padding: 16px;
    text-decoration: none;
    color: #f5f5dc;
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.button:hover {
    cursor: pointer;
    border-bottom: 1px solid #f5f5dc;
}

.logIn {
    background-color: #f5f5dc;
    border-radius: 8px;
    font-weight: 500;
    padding: 16px;
    color: #6d4d41;
}

.pageSidebar {
    grid-area: sidebar;
    width: 250px;
    padding: 25px;
    border-right: 1px solid #a67b5b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.menuTitle {
    font-size: 24px;
    text-transform: uppercase;
    color: #a67b5b;
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.sidebarElem {
    width: 200px;
    height: 32px;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-left: 1px solid #a67b5b;
    text-decoration: none;
    color: #a67b5b;
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.sidebarElem:hover {
    cursor: pointer;
    border-left: none;
    border-bottom: 1px solid #6d4d41;
    color: #6d4d41;
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.pageContent {
    grid-area: content;
    margin: 0;
    margin-right: 70px;
    text-align: center;
}

.headingContent {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 16px;
    color: #6d4d41;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.main {
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: space-between;
}

.post {
    width: 150px;
    color: white;
}

.card1 {
    position: relative;
    height: 480px;
    width: 310px;
    padding: 16px;
    background-image: url('./media/store1.jpg');
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    border-radius: 10%;
}

.card2 {
    position: relative;
    height: 480px;
    width: 310px;
    padding: 16px;
    background-image: url('./media/store2.jpg');
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    border-radius: 10%;
}

.card3 {
    position: relative;
    height: 480px;
    width: 310px;
    padding: 16px;
    background-image: url('./media/store3.jpg');
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    border-radius: 10%;
}

.card4 {
    position: relative;
    height: 480px;
    width: 310px;
    padding: 16px;
    background-image: url('./media/store4.jpg');
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    border-radius: 10%; 
}

.headingPost {
    position: absolute;
    text-align: left;
    padding: 8px;
    bottom: 35%;
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.contentPost {
    position: absolute;
    padding: 8px;
    text-align: left;
    line-height: 20px;
    bottom: 0;
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pageFooter {
    grid-area: footer;
    padding: 25px;
    background-color: #a67b5b;
    color: #f5f5dc;
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.smLink {
    text-decoration: none;
    color: #f5f5dc;
    padding: 8px;
}

.smLink:hover {
    cursor: pointer;
    border-bottom: 1px solid #f5f5dc;
}